################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoDBPractice/.vs
/MongoDBPractice/MongoDBPractice/obj
